body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;

  /* background-color: #0f172a; */

  /* background-image: url("https://unsplash.com/photos/black-and-white-robot-toy-on-red-wooden-table-zwd435-ewb4"); */

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 100vh;
}
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.chat-container {
  width: 700px;
  height: 90vh;
  background: white;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0;
  padding: 20px;
  /* background: #1e293b; */
  color: white;
  text-align: center;
}
h2{
  margin: 0;
  padding: 20px;
  /* background: #1e293b; */
  color: rgb(14, 2, 2);
  text-align: center;
}
.chat-box {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background: #f1f5f9;
}

.message {
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 12px;
  max-width: 75%;
  line-height: 1.5;
}

.user {
  background: #2563eb;
  color: white;
  margin-left: auto;
}

.bot {
  background: #e2e8f0;
  color: black;
}

.input-area {
  display: flex;
  border-top: 1px solid #ccc;
}

input {
  flex: 1;
  padding: 18px;
  border: none;
  outline: none;
  font-size: 16px;
}

button {
  width: 120px;
  border: none;
  background: #2563eb;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: #1d4ed8;
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #0f172a;
}

.auth-box {
  width: 350px;
  background: white;
  padding: 40px;
  border-radius: 12px;
}

.auth-box h1 {
  text-align: center;
  margin-bottom: 30px;
}

.auth-box input {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.auth-box button {
  width: 100%;
  padding: 15px;
  border: none;
  background: #2563eb;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.auth-box p {
  text-align: center;
  margin-top: 15px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
     padding: 5px 27px;
    background: #182b48;
  color: white;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.home-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 20px;
}

.home-container h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

.home-container p {
  font-size: 20px;
  width: 700px;
  max-width: 90%;
}
.home-buttons {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

.home-buttons button {
  padding: 15px 25px;
  border: none;
  border-radius: 8px;
  background: #2563eb;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.home-buttons button:hover {
  background: #1d4ed8;
}