body {
  margin: 0;
  padding: 0;
  background: #0f172a;
  font-family: Arial, sans-serif;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.chat-container {
  width: 700px;
  height: 90vh;
  background: white;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0;
  padding: 20px;
  background: #1e293b;
  color: white;
  text-align: center;
}

.chat-box {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background: #f1f5f9;
}

.message {
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 12px;
  max-width: 75%;
  line-height: 1.5;
}

.user {
  background: #2563eb;
  color: white;
  margin-left: auto;
}

.bot {
  background: #e2e8f0;
  color: black;
}

.input-area {
  display: flex;
  border-top: 1px solid #ccc;
}

input {
  flex: 1;
  padding: 18px;
  border: none;
  outline: none;
  font-size: 16px;
}

button {
  width: 120px;
  border: none;
  background: #2563eb;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: #1d4ed8;
}